<ion-view view-title="Log In">
  <ion-content>
    <div class="center stack-buttons">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <a class="button button-balanced" href="#/out/register">Register</a>
      <a class="google-button" ng-click="googleLogin()"><span class="icon"></span><span class="buttonText">Google</span>
    </div>
  </ion-content>
</ion-view>